<head>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "dashboard/bootstrap.css" %>
    <%= stylesheet_link_tag "dashboard/bootstrap.min.css" %>
    <%= stylesheet_link_tag "dashboard/style.css" %>
    
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                 <div class="top-left-part">
                 <a class="logo" href="index.html"> 
            <%= image_tag "optionB.png", class: '' %>
                  </a>
                 </div>


                <!-- /Logo -->
                <!-- Search input and Toggle icon -->
                <ul class="nav navbar-top-links navbar-left">
                    
                    <!-- .Task dropdown -->
                   </ul>
                   
                
               <ul class="nav navbar-top-links navbar-right pull-right">
                    
                    <li class="dropdown"><b>
                <%= link_to 'logout', destroy_user_session_path,:method => :delete, class: 'dropdown-toggle profile-pic ',style:'padding-right: 40px;' %></b>
                    </li>

                    <!-- /.dropdown -->
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    
                    <li class="dropdown"><b>
                <%= link_to 'Take a Tour', destroy_user_session_path,:method => :delete, class: 'dropdown-toggle profile-pic ',style:'padding-right: 40px;' %></b>
                    </li>

                    <!-- /.dropdown -->
                </ul>
            </div> 

            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <!-- <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"></span> <span class="hide-menu">Navigation</span></h3> </div> -->
                <div class="user-profile">
                    
                </div>
                <ul class="nav" id="side-menu">
                    <li> <a><span class="hide-menu"> <%=link_to 'Dashboard',users_path, class: "waves-effect"%></span></a>
                        
                    </li>
                  
        <li>
        <a href="/users/<%=@user.id%>/email_templates" class="waves-effect"> <span class="hide-menu">Your Templates</span> </a>
<!-- 
                        <ul class="nav nav-second-level">
                            <li><a><span class="hide-menu"> <%=link_to 'Predunning',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a>
                            </li>                   
                           <li><a ><span class="hide-menu"><%=link_to 'Dunning',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a></li>

                           <li><a ><span class="hide-menu"><%=link_to 'cancellations',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a></li>

                        </ul>
 -->
                        </li>
                    <!-- <li>
                    <a href="/riskycustomers" class="waves-effect"><span class="hide-menu">Customers</span></a>
                    </li>    -->
                    <ul class="nav nav-second-level"> 
                  </ul>
                    <li>
                    
                   <!--  <li><a href="/riskycustomers/new" class="waves-effect"><span class="hide-menu">Payment Update</span></a></li> -->

                    <!-- <li><a href="/customer_healths" class="waves-effect"><span class="hide-menu">Customer Health</span></a></li> -->

                    <!-- li> <a href="/users/<%=@user.id%>/edit" class="waves-effect"> <span class="hide-menu">App Settings </span></a><ul class="nav nav-second-level">
                  </ul> </li>  -->
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    
                   <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        
                        
                        <ol class="breadcrumb">
                            
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
               
                <!-- /.row -->
                
                    <!-- row list-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Subscription Cancellations</h3>
                            <div class="scrollable">
                                <div class="table-responsive">
                                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10" >
                                        <thead>
											<tr>
												<td>Email</td>
												<td>Canceled at</td>
												<td>PlanName</td>
												<td>Amount</td>
											</tr>
											</thead>
											<tbody>
											<%@cancellations.each do|canceled|%>
											<tr>
												<td><%=canceled.email%></td>
												<td><%=canceled.canceled_at%></td>
												<td><%=canceled.plan%></td>
												<td><%=canceled.amount%></td>
											</tr>
											<%end%>
											</tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    
                                                </td>
                                                <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        
                                                        
                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>
                                                <td colspan="7">
                                                    <div class="text-right">
                                                        <ul class="pagination"> </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                   
                </div>
                <!-- ============================================================== -->
                <!-- Recent comment, table & feed widgets -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- chats, message & profile widgets -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- start right sidebar -->
                <!-- ============================================================== -->
               
                <!-- ============================================================== -->
                <!-- end right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy;  by Nestmetric </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->


</body>

</html>


<table>

</table>
