<head>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "dashboard/bootstrap.css" %>
    <%= stylesheet_link_tag "dashboard/bootstrap.min.css" %>
    <%= stylesheet_link_tag "dashboard/style.css" %>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.css">
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                 <div class="top-left-part">
                 <a class="logo" href="index.html"> 
            <%= image_tag "optionB.png", class: '' %>
                  </a>
                 </div>


                <!-- /Logo -->
                <!-- Search input and Toggle icon -->
                <ul class="nav navbar-top-links navbar-left">
                    
                    <!-- .Task dropdown -->
                   </ul>
                   
                
               <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown"><b>
                <%= link_to 'logout', destroy_user_session_path,:method => :delete, class: 'dropdown-toggle profile-pic ',style:'padding-right: 40px;' %></b>
                    </li>
                    <!-- /.dropdown -->
                </ul>
            </div> 

            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <!-- <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"></span> <span class="hide-menu">Navigation</span></h3> </div> -->
                <div class="user-profile">
                    
                </div>
                <ul class="nav" id="side-menu">
                    <li> <a><span class="hide-menu"> <%=link_to 'Dashboard',users_path, class: "waves-effect"%></span></a>
                        
                    </li>
                  
        <li>
        <a href="/users/<%=@user.id%>/email_templates" class="waves-effect"> <span class="hide-menu">Your Templates</span> </a>
<!-- 
                        <ul class="nav nav-second-level">
                            <li><a><span class="hide-menu"> <%=link_to 'Predunning',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a>
                            </li>                   
                           <li><a ><span class="hide-menu"><%=link_to 'Dunning',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a></li>

                           <li><a ><span class="hide-menu"><%=link_to 'cancellations',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a></li>

                        </ul>
 -->
                        </li>
                    <!-- <li>
                    <a href="/riskycustomers" class="waves-effect"><span class="hide-menu">Customers</span></a>
                    </li>    -->
                    <ul class="nav nav-second-level"> 
                  </ul>
                    <li>
                    
                   <!--  <li><a href="/riskycustomers/new" class="waves-effect"><span class="hide-menu">Payment Update</span></a></li> -->

                    <!-- <li><a href="/customer_healths" class="waves-effect"><span class="hide-menu">Customer Health</span></a></li> -->

                    <!-- li> <a href="/users/<%=@user.id%>/edit" class="waves-effect"> <span class="hide-menu">App Settings </span></a><ul class="nav nav-second-level">
                  </ul> </li>  -->
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                     <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">
                            <!-- <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="/users/"></button> -->
                                                                   
                         </h4> </div>
                   <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                        <ol class="breadcrumb">

                            <li>
                                <button onclick="showOnBoarding()" class= "btn btn-info">
                                        Take a tour
                                </button>
                            </li>
                            
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
                <!-- .row -->
                <div class="row">
                    <!-- <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">recovered</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right"> <span class="counter text-success"></span></li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-lg-4 col-sm-6 col-xs-12" >
                        <div class="white-box analytics-info" data-intro="This is the amountof money the business is likely to loose if credit cards are not renewed by the end of the month">
                            <h3 class="box-title">Revenue at risk</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash2"></div>
                                </li>
                         <li class="text-right"> <span class="counter text-purple"> <%=@riskyRevenue%></span></li>
                            </ul>
                        </div>
                    </div>
                    <%=link_to failed_charges_index_path do%>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info" data-intro="Number of failed charges in the current month e.g. the number represents number of failed charges for <%= Date.today.strftime("%B")%>" >
                            <h3 class="box-title">Failed charges </h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash3"></div>
                                </li>
                                <li class="text-right"> <span class="counter text-info"><%=@allfailed%> </span></li>
                            </ul>
                        </div>
                    </div>
                     <%end%>
                    <%=link_to cancellations_index_path do%>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info" data-intro="Number of cancellations in the current month e.g. the number represents number of cancellations for <%= Date.today.strftime("%B")%>">
                            <h3 class="box-title">Cancellations</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash4"></div>
                                </li>
                                <li class="text-right"> <span class="text-danger"><%=@cancellation%> </span></li>
                            </ul>
                        </div>
                    </div>
                   <%end%>
                </div>
                <!--/.row -->
                <!--row -->
                <!-- /.row -->
                
                    <!-- row list-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Risky Customers</h3>
                            <div class="scrollable">
                                <div class="table-responsive">
                                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10" >
                                        <thead>
                                            <tr>
                                            
                                                <th>Email</th>
                                                <th>Expiry Month</th>
                                                <th>Expiry Year</th>
                                                <th>Risk Level</th>
                                                <th>Plan</th>
                                                <th>Revenue at risk($)</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>

                                        <% @riskycustomers.each do |riskycustomer|%>
                                            <tr>
                                                <td><%= riskycustomer.email%></td>
                                                <td><%=Date::MONTHNAMES[riskycustomer.expiryMonth]%></td>
                                                <td><%= riskycustomer.expiryYear%></td>
                                                <td><%= riskycustomer.rlevel%></td>  
                                                <td><%= riskycustomer.plan%></td>
                                                <td><%= riskycustomer.amount/100%></td>
                                                    
                                            </tr>
                                        <%end%>    
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    
                                                </td>
                                                <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        
                                                        
                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>
                                                <td colspan="7">
                                                    <div class="text-right">
                                                        <ul class="pagination"> </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                   
                </div>
                <!-- ============================================================== -->
                <!-- Recent comment, table & feed widgets -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- chats, message & profile widgets -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- start right sidebar -->
                <!-- ============================================================== -->
               
                <!-- ============================================================== -->
                <!-- end right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy;  by Nestmetric </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.js"></script>
    <!-- <script>
    function GetURLParameter(sParam){
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam){
                return sParameterName[1];
            }
        }
        return false;
    }
        var onboarding = GetURLParameter("onboarding")=== "true" ? true : false;
        if(onboarding === true){
            introJs().start()
            .onexit(function() {
              //alert("exit of introduction");
              console.log($)
            });
        }
    </script> -->

    <script>
        if (<%=@user.onboarding%> === true) {
        
         } else {
        showOnBoarding();
        }

        function showOnBoarding() {
        
         introJs().start()

        $.ajax({
            url:'<%= user_url current_user %>' + '.json',
            method: 'PUT',
            data: {
                user: {
                    onboarding: true
                }
            },
            success: function (data) {
                console.log("user saved successfully");
                console.log(data);
            },
            error: function (error) {
                console.error(error);
            }
        })
    }
    </script>

</body>

</html>