<head>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "dashboard/bootstrap.css" %>
    <%= stylesheet_link_tag "dashboard/bootstrap.min.css" %>
    <%= stylesheet_link_tag "dashboard/style.css" %>
    <%= stylesheet_link_tag "dashboard/chartist.min.css" %>
    <%= stylesheet_link_tag "dashboard/chartist-plugin-tooltip.css" %> 
    
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                 <div class="top-left-part">
                 <a class="logo" href="index.html"> 
            <%= image_tag "optionB.png", class: '' %>
                  </a>
                 </div>


                <!-- /Logo -->
                <!-- Search input and Toggle icon -->
                <ul class="nav navbar-top-links navbar-left">
                    
                    <!-- .Task dropdown -->
                   </ul>
                   
                
               <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown"><b>
                <%= link_to 'logout', destroy_user_session_path,:method => :delete, class: 'dropdown-toggle profile-pic ',style:'padding-right: 40px;' %></b>
                    </li>
                    <!-- /.dropdown -->
                </ul>
            </div> 

            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <!-- <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"></span> <span class="hide-menu">Navigation</span></h3> </div> -->
                <div class="user-profile">
                    
                </div>
                <ul class="nav" id="side-menu">
                    <li> <a><span class="hide-menu"> <%=link_to 'Dashboard',users_path, class: "waves-effect"%></span></a>
                        
                    </li>
                  
        <li>
        <a href="/users/<%=@user.id%>/email_templates" class="waves-effect"> <span class="hide-menu">Your Templates</span> </a>
<!-- 
                        <ul class="nav nav-second-level">
                            <li><a><span class="hide-menu"> <%=link_to 'Predunning',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a>
                            </li>                   
                           <li><a ><span class="hide-menu"><%=link_to 'Dunning',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a></li>

                           <li><a ><span class="hide-menu"><%=link_to 'cancellations',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a></li>

                        </ul>
 -->
                        </li>
                    <li>
                    <a href="/riskycustomers" class="waves-effect"><span class="hide-menu">Customers</span></a>
                    </li>   
                    <ul class="nav nav-second-level"> 
                  </ul>
                    <li>
                    
                    <li><a href="/riskycustomers/new" class="waves-effect"><span class="hide-menu">Payment Update</span></a></li>

                    <li><a href="/customer_healths" class="waves-effect"><span class="hide-menu">Customer Health</span></a></li>

                    <li> <a href="/users/<%=@user.id%>/edit" class="waves-effect"> <span class="hide-menu">App Settings </span></a><ul class="nav nav-second-level">
                  </ul> </li> 
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    
                   <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        
                        
                        <ol class="breadcrumb">
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
                <!-- .row -->
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">recovered</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right"> <span class="counter text-success">$ 8500</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Revenue at risk</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash2"></div>
                                </li>
                         <li class="text-right"> <span class="counter text-purple"> $ 3200</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Failed charges</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash3"></div>
                                </li>
                                <li class="text-right"> <span class="counter text-info">168</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Cancellations</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash4"></div>
                                </li>
                                <li class="text-right"> <span class="text-danger">10</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/.row -->
                <!--row -->
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12 col-lg-8 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Overview</h3>
                            <ul class="list-inline text-right">
                                <li>
                            <h5><i class="fa fa-circle m-r-5 text-info"></i>Cancellation</h5> </li>
                                <li>
                                    <h5><i class="fa fa-circle m-r-5 text-inverse"></i>Revenue Recovered</h5> </li>
                            </ul>
                            <div id="ct-visits" style="height: 405px;">
                    <%= image_tag "graph.png", class: 'logo-default'%></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">LIVE STREAM</div>
                            <div class="panel-body">
                                <div class="steamline">
                                <%@riskycustomers.each do|customer|%>
                                    <div class="sl-item">
                                       <span class="label label-rouded label-danger">EXPIRY IN 30 DAYS</span>
                                        <br/>
                                        <div class="sl-right">
                                            <div><a href="#"></a> <%=customer.email%><br><span class="sl-date"><%=time_ago_in_words(customer.created_at)%> ago</span></div>
                                            <div class="desc"><%=customer.plan%> - $  <%=customer.amount/100%></div>
                                        </div>
                                    </div>
                                    <%end%>

                                    <!-- <div class="sl-item">
                                       <span class="label label-rouded label-info">EXPIRY IN 30 DAYS</span> <br/> 
                                        <div class="sl-right">
                                            <div><a href="#"></a> Joseline Harnandez <span class="sl-date">5 minutes ago</span></div>
                                            <div class="desc">Basic plan - $ 50</div>
                                           
                                        </div>
                                    </div>
                                    <div class="sl-item">
                                        <span class="label label-rouded label-info">EXPIRY IN 30 DAYS</span>
                                        <div class="sl-right">
                                            <div><a href="#">K Michelle</a> <span class="sl-date">5 minutes ago</span></div>
                                            <div class="desc">hobby plan - $ 100 </div>
                                        </div>
                                    </div>
                                    <div class="sl-item">
                                        <span class="label label-rouded label-danger">CANCELLED</span>
                                        <br/>
                                        <div class="sl-right">
                                            <div><a href="#">Varun Dhavan</a> <span class="sl-date">5 minutes ago</span></div>
                                            <div class="desc">hobby plan - $ 100</div>
                                        </div>
                                    </div> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <!-- ============================================================== -->
                <!-- Recent comment, table & feed widgets -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- chats, message & profile widgets -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- start right sidebar -->
                <!-- ============================================================== -->
               
                <!-- ============================================================== -->
                <!-- end right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy;  by Nestmetric </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->


</body>

</html>