 <head>
<%= stylesheet_link_tag "dashboard/bootstrap.css" %>
<%= stylesheet_link_tag "dashboard/bootstrap.min.css" %>
<%= javascript_include_tag 'application' %>
</head>



 <div style="margin-top:15%;">
    <div  style="text-align: center; font-size: 1em;" >

        <p>Connect your account and automatically send NestMetric your customer and payment data    </p>

    </div>
    <!--stripe-->
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 col-md-offset-2" style= "border: 0.5px solid rgb(207, 215, 217) ; padding-right: 150px; box-shadow: rgba(0, 0, 0, 0.0784314) 0px 15px 100px 0px;max-width: 100%;border-radius:10px;background: linear-gradient(#fff,#f2f6f9); ">

    <div style="height: 50px; text-align: center;">
        <%= image_tag "stripe.png", style: "max-width: 100%; max-height: 100%; object-fit: contain;" %> 
    </div><br>
        <%=form_for :connect, url: user_stripe_connect_omniauth_authorize_path do|f|%>
            <%= f.submit "connect with Stripe", class: "col-lg-12 col-md-12 col-sm-12 col-xs-12", class: "btn btn-default btn-rounded", style:"padding-left:10px" %>
        <%end%>
    </div>

    <!--stripe end-->

    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 col-md-offset-1" style= "border: 0.5px solid rgb(207, 215, 217) ;padding-right: 150px box-shadow: rgba(0, 0, 0, 0.0784314) 0px 15px 100px 0px;max-width: 100%;border-radius:10px;background: linear-gradient(#fff,#f2f6f9);">

    <div style="height: 50px; text-align: center;">
        <%= image_tag "braintree.png", { style: "max-width: 100%; max-height: 100%; object-fit: contain;" } %>  
    </div><br>
        <%=form_for :connect, url: user_stripe_connect_omniauth_authorize_path do|f|%>
            <%= f.submit "connect with Braintree", class: "col-lg-12 col-md-12 col-sm-12 col-xs-12", class: "btn btn-default btn-rounded" %>
        <%end%>
    </div>

    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 col-md-offset-1 " style= "border: 0.5px solid rgb(207, 215, 217) ; padding-right: 150px; box-shadow: rgba(0, 0, 0, 0.0784314) 0px 15px 100px 0px;max-width: 100%;border-radius:10px;background: linear-gradient(#fff,#f2f6f9);">

    <div style="height: 50px; text-align: center;">
        <%= image_tag "paypal.png", { style: "max-width: 100%; max-height: 100%; object-fit: contain;"} %>  
    </div><br>
        <%=form_for :connect, url: user_stripe_connect_omniauth_authorize_path do|f|%>
            <%= f.submit "connect with Paypal", class: " col-lg-12 col-md-12 col-sm-12 col-xs-12 ",class: "btn btn-default btn-rounded" %>
        <%end%>
    </div>

</div> 

</div  > 



<!--  <div style="margin-top:5%;">

	<div class="images">
			
	</div>

	<div class="row loginbox">  		
		<div class="col-md-6 col-md-offset-3 fancy align_center">
		
				<p>Connect your account and automatically send NestMetric your transaction data for your subscription payments.</p>
			<hr>
			  	<%=form_for :connect, url: user_stripe_connect_omniauth_authorize_path do|f|%>
			  		<%= f.submit "connect", class: "btn btn-primary" %>
			  	<%end%>
			  	<p class="vp">You will be redirected to Stripe momentarily</p>
			  	<%= link_to 'logout', destroy_user_session_path, :method=>'delete'%>
		</div>
	</div>

<<<<<<< HEAD
</div>
=======
</div> -->



