 <head>
<%= stylesheet_link_tag "dashboard/bootstrap.css" %>
<%= stylesheet_link_tag "dashboard/bootstrap.min.css" %>
<%= javascript_include_tag 'application' %>
</head>

<!--
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="m-b-0 box-title">Button with icons</h3>
                            <p class="text-muted m-b-30">Just add icon in i tag and text in span thats it </p>
                            <div class="button-box">
                                <button class="btn btn-outline btn-default waves-effect waves-light"> <i class="fa fa-heart m-r-5"></i> <span>Love</span></button>
                                <button class="btn btn-info waves-effect waves-light"><span>Love</span> <i class="fa fa-heart m-l-5"></i></button>
                                <button class="btn btn-success waves-effect waves-light" type="button"><span class="btn-label"><i class="fa fa-check"></i></span>Success</button>
                                <button class="btn btn-primary btn-rounded waves-effect waves-light" type="button"><span class="btn-label"><i class="fa fa-envelope-o"></i></span>Mail</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="m-b-0 box-title">Button with Dropdown & Dropup</h3>
                            <p class="text-muted m-b-30">Just add icon in i tag and text in span thats it </p>
                            <div class="button-box">
                                <div class="btn-group m-r-10">
                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type="button">Dropdown <span class="caret"></span></button>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group dropup m-r-10">
                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-danger dropdown-toggle waves-effect waves-light" type="button">Dropdown <span class="caret"></span></button>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group m-r-10">
                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default btn-outline dropdown-toggle waves-effect waves-light" type="button"> <i class="fa fa-heart m-r-5"></i> <span class="caret"></span></button>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group dropup">
                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-warning dropdown-toggle waves-effect waves-light" type="button"><i class="fa fa-heart m-r-5"></i> <span class="caret"></span></button>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="m-b-0 box-title">Upload Buttons</h3>
                            <p class="text-muted m-b-30">Just add icon in i tag and text in span thats it </p>
                            <div class="button-box">
                                <div class="fileupload btn btn-info waves-effect waves-light"><span><i class="ion-upload m-r-5"></i>Upload</span>
                                    <input type="file" class="upload"> </div>
                                <div class="fileupload btn btn-danger btn-rounded waves-effect waves-light"><span><i class="ion-upload m-r-5"></i>Upload</span>
                                    <input type="file" class="upload"> </div>
                                <div class="fileupload btn btn-default btn-outline btn-rounded waves-effect waves-light"><span><i class="ion-upload m-r-5"></i>Upload</span>
                                    <input type="file" class="upload"> </div>
                                <div class="fileupload btn btn-default btn-outline waves-effect waves-light"><span><i class="ion-upload m-r-5"></i>Upload</span>
                                    <input type="file" class="upload"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>


 -->

















 <div style="margin-top:15%;">
	<div  style="text-align: center; font-size: 1em;" >

		<p>Connect your account and automatically send NestMetric your customer and payment data	</p>

	</div>
	<!--stripe-->
	<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 col-md-offset-2" style= "border: 0.5px solid rgb(207, 215, 217) ; padding-right: 150px; box-shadow: rgba(0, 0, 0, 0.0784314) 0px 15px 100px 0px;max-width: 100%;border-radius:10px;background: linear-gradient(#fff,#f2f6f9); ">

	<div style="height: 50px; text-align: center;">
		<%= image_tag "stripe.png", style: "max-width: 100%; max-height: 100%; object-fit: contain;" %>	
	</div><br>
		<%=form_for :connect, url: user_stripe_connect_omniauth_authorize_path do|f|%>
	  		<%= f.submit "connect with Stripe", class: "col-lg-12 col-md-12 col-sm-12 col-xs-12", class: "btn btn-default btn-rounded", style:"padding-left:10px" %>
	  	<%end%>
	</div>

    <!--stripe end-->

	<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 col-md-offset-1" style= "border: 0.5px solid rgb(207, 215, 217) ;padding-right: 150px box-shadow: rgba(0, 0, 0, 0.0784314) 0px 15px 100px 0px;max-width: 100%;border-radius:10px;background: linear-gradient(#fff,#f2f6f9);">

	<div style="height: 50px; text-align: center;">
		<%= image_tag "braintree.png", { style: "max-width: 100%; max-height: 100%; object-fit: contain;" } %>	
	</div><br>
		<%=form_for :connect, url: user_stripe_connect_omniauth_authorize_path do|f|%>
	  		<%= f.submit "connect with Braintree", class: "col-lg-12 col-md-12 col-sm-12 col-xs-12", class: "btn btn-default btn-rounded" %>
	  	<%end%>
	</div>

	<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 col-md-offset-1 " style= "border: 0.5px solid rgb(207, 215, 217) ; padding-right: 150px; box-shadow: rgba(0, 0, 0, 0.0784314) 0px 15px 100px 0px;max-width: 100%;border-radius:10px;background: linear-gradient(#fff,#f2f6f9);">

	<div style="height: 50px; text-align: center;">
		<%= image_tag "paypal.png", { style: "max-width: 100%; max-height: 100%; object-fit: contain;"} %>	
	</div><br>
		<%=form_for :connect, url: user_stripe_connect_omniauth_authorize_path do|f|%>
	  		<%= f.submit "connect with Paypal", class: " col-lg-12 col-md-12 col-sm-12 col-xs-12 ",class: "btn btn-default btn-rounded" %>
	  	<%end%>
	</div>

</div> 

</div  > 





<!--  <div style="margin-top:5%;">

	<div class="images">
			
	</div>

	<div class="row loginbox">  		
		<div class="col-md-6 col-md-offset-3 fancy align_center">
		
				<p>Connect your account and automatically send NestMetric your transaction data for your subscription payments.</p>
			<hr>
			  	<%=form_for :connect, url: user_stripe_connect_omniauth_authorize_path do|f|%>
			  		<%= f.submit "connect", class: "btn btn-primary" %>
			  	<%end%>
			  	<p class="vp">You will be redirected to Stripe momentarily</p>
			  	<%= link_to 'logout', destroy_user_session_path, :method=>'delete'%>
		</div>
	</div>

<<<<<<< HEAD
</div>
=======
</div> -->



