 <head>
<%= stylesheet_link_tag "dashboard/bootstrap.css" %>
<%= stylesheet_link_tag "dashboard/bootstrap.min.css" %>

<%= javascript_include_tag 'application' %>
</head>

<div style="margin-top:15%;" class="container">
    <div class = "row text-center" >

        <p>Connect your account and automatically send NestMetric your customer and payment data  </p>

	<!--stripe-->
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center" >

	<div style="height: 70px; text-align: center;">
		<%= image_tag "stripe.png", style: "max-width: 100%; max-height: 130%; object-fit: contain; padding-top: 20px;" %>

	</div><br>

		<%=form_for :connect, url: user_stripe_connect_omniauth_authorize_path do|f|%>
	  		<%= f.submit "connect with Stripe", class: "btn btn-info "%>
	  	<%end%>

	</div>

    <!--stripe end-->

</div  > 

</div> 
 



<!--  <div style="margin-top:5%;">

	<div class="images">
			
	</div>

	<div class="row loginbox">  		
		<div class="col-md-6 col-md-offset-3 fancy align_center">
		
				<p>Connect your account and automatically send NestMetric your transaction data for your subscription payments.</p>
			<hr>
			  	<%=form_for :connect, url: user_stripe_connect_omniauth_authorize_path do|f|%>
			  		<%= f.submit "connect", class: "btn btn-primary" %>
			  	<%end%>
			  	<p class="vp">You will be redirected to Stripe momentarily</p>
			  	<%= link_to 'logout', destroy_user_session_path, :method=>'delete'%>
		</div>
	</div>

<<<<<<< HEAD
</div>
=======
</div> -->





 