<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Nestmetric</title>

    <!-- Styles -->
    <!-- full story -->
          <script>
      window['_fs_debug'] = false;
      window['_fs_host'] = 'fullstory.com';
      window['_fs_org'] = 'DJQMQ';
      window['_fs_namespace'] = 'FS';
      (function(m,n,e,t,l,o,g,y){
          if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
          g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
          o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
          y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
          g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};g.event=function(i,v){g('event',{n:i,p:v})};
          g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
          g.consent=function(a){g("consent",!arguments.length||a)};
          g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
          g.clearUserCookie=function(){};
      })(window,document,window['_fs_namespace'],'script','user');
      </script>
<!-- end full story -->

  <%= stylesheet_link_tag  'core.min.css' %>
  <%= stylesheet_link_tag  'thesaas.min.css' %> 
  <%= stylesheet_link_tag  'style.css' %>

    <!-- Favicons -->
    <!-- <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.png"> -->
  </head>

  <body  >


    <!-- Topbar -->
    <nav id="top" class="topbar topbar-inverse topbar-expand-sm">
      <div class="container">
        
        <div class="topbar-left">
          <a class="topbar-brand" href="index.html">
            <!-- <img class="logo-default" src="assets/img/logo.png" alt="logo">
            <img class="logo-inverse" src="assets/img/logo-light.png" alt="logo"> -->
            <%= image_tag "logo.png", class: 'logo-inverse',:style => "max-height: 50px;" %>
          </a>
        </div>


        <div class="topbar-right">
          <!-- <a class="btn btn-sm btn-outline btn-white mr-4" href="">Login</a>
          <a class="btn btn-sm btn-outline btn-white mr-4" href="">Register</a> -->
        </div>

      </div>
    </nav>

    <!-- END Topbar ....-->





    <!-- Header -->
    <header class="header header-inverse h-fullscreen p-0 bg-primary overflow-hidden" style="background-image: linear-gradient(to right, #fff  0%, white 100%);">
      <canvas class="constellation"></canvas>

      <div class="container text-center">

        <div class="row h-full align-items-center">
          <div class="col-12 col-md-8 offset-md-2">

            <h1 class="display-4">Reach your core target customers
              
              </h1>
            <br>
            <p class="lead text-purple fs-20">Nestmetric is an AI that finds people who are similar to your high value customers  
            </p>
            <br>
            <a class="btn btn-xl btn-round btn-primary" href="https://app.nestmetric.com/#/accounts/signup">Get started Now</a>

            <!-- End Prefinery Signup Form -->
          <!-- <div id="pfy_embed_signup">
            <div class="col-12">
              <form class="form-inline" action="https://i.prefinery.com/projects/g3bsqaj7/users/post" id="pfy_signup_form" method="post" accept-charset="UTF-8" target="_blank" novalidate>
                  <input type="email" class="form-control input-lg col-sm-7 mb-1 ml-auto mr-sm-2" autocomplete="email" name="user[profile][email]" id="pfy_user_profile_email" placeholder="Enter your email  to sign up">
                  
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="265193e23ea8f4e60dc21a3824f6898b35de9a8d" tabindex="-1" value="">
                  </div>
                  <input type="submit" value="Start Free Trial Now" class="btn btn-lg btn-info col-sm-4 mb-1 mr-auto">
              </form>
            </div>
          </div> -->
<!-- end prefinery -->
          </div>
        </div>

      </div>
    </header>
    <!-- END Header ....-->






    <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | CTA
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
    
      <!-- <section class="section section-inverse py-40" style="background-color: #8ea6e6">
        <div class="container">
          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-9">
              <h4 class="fw-300 mb-0">Industry: SaaS, Banking,  Healthcare,   Insurance,  Fintech,    Marketing  & Manufacturing
                </h4>
            </div>

            <div class="col-12 col-md-3">
              <a class="btn btn-round btn-white" href="#top">Sign Up</a>
            </div>
          </div>
        </div>
      </section> -->



    <!-- Main container -->
    <main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Features
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header mb-0">
            <small><strong></strong></small>
            <h2>62% of business ads miss their intended target 
            </h2>
            <hr>
            <p class="lead">
   Nestmetric uses real-time AI to identify the behaviours of your most valuable customers and use that data to acquire more customers similar to your highest-value customers using social media ads, emails or other messaging platforms.

              
              </p>
          </header>


          
          <div class="row gap-y">
            
            <div class="col-12 offset-md-2 col-md-8 mb-30">
              <img src="/" alt="..." data-aos="fade-up">
              <%= image_tag "Image1.png"%>
            </div>


            <!-- <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-tv fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5>SaaS 
                  </h5>
                  <p>Nestmetric  helps Customer Success Managers prevent churn, increase account expansion, and manage more customers with less effort.
                    .</p>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-wrench fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5>Fintech
                    
                  </h5>
                  <p>Nestmetric  drives  major fintech segments, such as lending, security, payment
                  systems, and compliance, build cutting-edge machine learning into the products and services they offer. 
                  </p>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-cubes fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5>
                    Insurance 
                   </h5>
                  <p>Nestmetric  auto machine learning analyse customer  behavioural data for the benefit of insurance companies. The product helps insurance companies with risk profiling, premium optimization, and  fraud detection
                  </p>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-code fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5> Banking
                  </h5>
                  <p> Nestmetric  predictive modeling through automated machine learning is the key to boosting banking revenues and staying competitive amid a fast-changing landscape and challenges from emerging fintech competitors

                    .</p>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-file-text-o fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5>Retail
                    
                  </h5>
                  <p>Nestmetric gives your retail organization the end-to-end softwares backed by ML-driven analytics  needed to accurately forecast demand and inventory, better understand customer sentiment, and optimize staffing.</p>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-download fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5>Actionable insights 
                  </h5>
                  <p>The outputs of Nestmetric ’s machine learning models can be integrated directly into your user experiences and business automation tools.
                    .</p>
                </div>
              </div>
            </div> -->

          </div>

        </div>
      </section>

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | CTA
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      
      <section class="section section-inverse py-40" style="background-color: #8043a6">
        <div class="container">
          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-9">
              <h4 class="fw-300 text-white mb-0">With all this power, the work that used to take months is now finished in just hours.
                </h4>
            </div>

            <div class="col-12 col-md-3">
              <a class="btn btn-round btn-white" href="https://app.nestmetric.com/#/accounts/signup">Sign Up</a>
            </div>
          </div>
        </div>
      </section>





      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Features
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray">
        <div class="container">
          <header class="section-header">
            <small></small>
            <h2>How It Works</h2>
            <hr>
            <p class="lead">
          </header>


          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-5">
              <!-- <img class="rounded shadow-2" src="assets/feature-1.png" alt="..." data-aos="zoom-in"> -->
              <%= image_tag "image2.png"%>
            </div>

            <div class="col-12 col-md-7">
              <h4>Upload your data</h4>
              <p>Upload an entirely new set of data for Nestmetric to train on. This data will serve as the basis on which your machine learning model makes predictions.It's important that you understand your data and choose the appropriate features (factors that influence) to get the best results.

              </p>
            </div>
          </div>


          <hr>


          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-7">
              <h4>Build a model
              </h4>
              <p>Nestmetric  learns from your users’ past actions who is most likely to perform a future action. Use a point-and-click interface to build propensity scores for conversion or churn in minutes. Create predictive lookalike audiences of your high vs. low value customers, by the click of a button
              </p>
            </div>

            <div class="col-12 col-md-5">
              <!-- <img class="rounded shadow-2" src="assets/landing/feature-2.png" alt="..." data-aos="zoom-in"> -->
              <%= image_tag "image3.png"%>
            </div>
          </div>


          <hr>


          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-5">
              <!-- <img class="rounded shadow-2" src="assets/landing/feature-3.png" alt="..." data-aos="zoom-in"> -->
              <%= image_tag "image4.png"%>
            </div>

            <div class="col-12 col-md-7">
              <h4>Results</h4>
              <p>Send predictive audiences from Nestmetric  into Facebook Lookalikes Google customer match  for reduced CPA. Increase open & click rates in your emails by retargeting your highest propensity users. Power personalization campaigns to increase lift and retention in all your growth metrics.
</p>
              </p>
            </div>
          </div>



        </div>
      </section>



 <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | CTA
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
    <section class="section">
        <div class="container">
          <header class="section-header">
            <h2>Our Happy Clients</h2>
            <hr>
            <!-- <p class="lead">Join thousands of satisfied customers using our template globally.</p> -->
          </header>


          <div class="swiper-container partner" data-autoplay="0" data-slides-per-view="3">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><%= image_tag "partner-3.png"%></div>
              <div class="swiper-slide"><%= image_tag "partner-4.png"%></div>
              <div class="swiper-slide"><%= image_tag "partner-5.png"%></div>
            </div>
          </div>

        </div>
      </section>
      
      <section class="section section-inverse py-40" style="background-color: #8043a6">
        <div class="container">
          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-9">
              <h4 class="fw-300 text-white mb-0">Nestmetric is for Business analyst, Data scientist, Executives, & Marketers 
                </h4>
            </div>

            <div class="col-12 col-md-3">
              <a class="btn btn-round btn-white" href="https://app.nestmetric.com/#/accounts/signup">Sign Up</a>
            </div>
          </div>
        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Pricing
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <!-- <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Plans</small>
            <h2>Flexible Pricing</h2>
            <hr>
            <p class="lead opacity-70"> 1 free Model, no credit card required.</p>
          </header>

          <div class="row gap-y text-center">

            <div class="col-12 col-md-4">
              <div class="pricing-1">
                <p class="plan-name">Basic</p>
                <br>
                <h2 class="price text-success">$49</h2>
                <br>

                <small><strong>2</strong> Models</small><br>
                <small><strong>300</strong> Predictions</small><br>
                <small><strong>Small</strong> Model size </small><br>
                
                <br>
                <p class="text-center py-3"><a class="btn btn-primary" href="#top">Sign Up</a></p>
              </div>
            </div>


            <div class="col-12 col-md-4">
              <div class="pricing-1">
                <p class="plan-name">Standard</p>
                <br>
                <h2 class="price text-success"><span class="price-unit">$</span>$299</h2>
                <br>
                <small><strong>4</strong> Models</small><br>
                <small><strong>30,000</strong> Predictions</small><br>
                <small><strong>Medium</strong> Model size </small><br>
             
               
                <br>
                <p class="text-center py-3"><a class="btn btn-primary" href="#top">Sign Up</a></p>
              </div>
            </div>


            <div class="col-12 col-md-4">
              <div class="pricing-1">
                <p class="plan-name">Business</p>
                <br>
                <h2 class="price text-success"><span class="price-unit">$</span>$999</h2>
                <br>

                <small><strong>10</strong> Models</small><br>
                <small><strong>300,000</strong> Predictions</small><br>
                <small><strong>Large</strong> Model size </small><br>
               
                <br>
                <p class="text-center py-3"><a class="btn btn-primary" href="#top">Sign Up</a></p>
              </div>
            </div>

          </div>


        </div>
      </section> -->



     



    </main>
    <!-- END Main container -->






    <!-- Footer -->
    <!-- <footer class="site-footer">
  
      <section class="section section-inverse py-40" style="background-color: #8043a6">
        <div class="container">
          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-9">
              <h4 class="fw-300 text-white mb-0">Stay focused on the business problem instead of getting lost in the process and workflow
                </h4>
            </div>

            <div class="col-12 col-md-3">
              <a class="btn btn-round btn-white" href="#top">Sign Up</a>
             
            </div>
          </div>
        </div>
      </section>

    </footer> -->
    <!-- END Footer -->
       <!-- Start of Async Prefinery Code -->
<script type="text/javascript">var _pfy = _pfy || [];(function(){function pfy_load(){var pfys=document.createElement('script');pfys.type='text/javascript';pfys.async=true;pfys.src='https://widget.prefinery.com/widget/v2/g3bsqaj7.js';var pfy=document.getElementsByTagName('script')[0];pfy.parentNode.insertBefore(pfys,pfy);}if (window.attachEvent){window.attachEvent('onload',pfy_load);}else{window.addEventListener('load',pfy_load,false);}})();</script>
<!-- End of Async Prefinery Code -->


    <%= javascript_include_tag 'core.min.js'%>
    <%= javascript_include_tag 'thesaas.min.js'%>
    <%= javascript_include_tag 'script.js'%>
 
  </body>
</html>
