<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>TheSaaS - Comming soon</title>

    <!-- Styles -->
   
    <%= stylesheet_link_tag  'core.min.css' %>
     <%= stylesheet_link_tag  'thesaas.min.css' %> 
    <%= stylesheet_link_tag  'style.css' %>

    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        
      </style>
  </head>

  <body>

    <!-- Header -->
    <header class="header header-inverse h-fullscreen py-0" style="background-image: url(/assets/color.jpg);" data-overlay="7">
      <div class="container text-center">

        <div class="row h-full align-items-center">
          <div class="col-12 col-lg-8 offset-lg-2">

            <h1 class="display-4 text-uppercase ls-3">AI Driven Customer Retention</h1>
          <br><br>
          <h5>Access to public beta is by invitation only</h5>
      <div style="display: block; text-align: center;">
      <!--mail chimp-->
         <form action="https://nestmetric.us16.list-manage.com/subscribe/post" method="POST" class="form-inline" style="display: inline-block;">
            <input type="hidden" name="u" value="a48346d2aedf1c8e995fe4b0e">
            <input type="hidden" name="id" value="c6988e3bfd">
            <input placeholder="email address" class="form-control" type="email" name="MERGE0" id="MERGE0"  style="width: 320px;">
          &nbsp
            <button type="submit" class="btn btn-success" >Request FREE Early Access</button>
          </form> 
      <!--mail chimp-->
   </div>
            <br>
            <p class="lead opacity-80 "><h4> 

            Nestmetric's AI monitors your customers' behavior and alerts you in realtime when they are likely to buy or likely to completely stop using your product.
            </h4>
            </p>
       
          </div>
        </div>
      </div>
    </header>
    <!-- END Header -->

<div class="container text-center" style="background-color: #0D283F;width:100%;color: white;height: 15%;">
  <div class="row">
      <div class="col-12">
        <h1 style="color:white;"> Retaining  your  customers shouldn’t be  hard</h1>
      </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-sm-4">
      <p><%= image_tag "funnel.png" ,style:"height:100px;"%></p>
      <h5 style="color:white;">Identify customers  likely to convert </h5>
      <p>Instantly identify your most active customers that are likely to convert during the  trial period.  
      Our machine learning algorithms helps identify obvious and unobvious attributes of customer behavior that influence purchasing.

      </p>
      
    </div>
    <div class="col-sm-4">
    <p><%= image_tag "predict.png" ,style:"height:100px;"%></p>
      <h5 style="color:white;">Identify customers  likely to churn</h5>
      <p>We monitor your customer's health  based on usage and predict who is  likely to churn. This helps you to strategize on how to win them back.
      </p>
    </div>
    <div class="col-sm-4">
       <p><%= image_tag "paper-plane-icon.png" ,style:"height:100px;"%></p>
      <h5 style="color:white;">Engage with customers</h5>
      <p>Encourage your customers to take action by sending relevant messages to the right audience  at the right time.</p>
   
    </div>
  </div>
<br><br>
<h5 style="color:white;">Access to public beta is by invitation only</h5>
  <div class="row">
    <div class="col-md-3 hidden-sm">
    </div>
    <div class="col-md-6 col-sm-12 text-center">
      <!--mail chimp start-->
         <form action="https://nestmetric.us16.list-manage.com/subscribe/post" method="POST" class="form-inline " style="display: inline-block;">
            <input type="hidden" name="u" value="a48346d2aedf1c8e995fe4b0e">
            <input type="hidden" name="id" value="c6988e3bfd">
            
            
              <input placeholder="email address" class="form-control" type="email" name="MERGE0" id="MERGE0" style="width: 320px;">
               

            <button type="submit" class="btn btn-success" >Request FREE Early Access</button>
          </form> 
      <!--mail chimp-->
    </div>
    <div class="col-md-3 hidden-sm">
    </div>
  </div>
  <p></p>
</div>
    
  </body>
</html>
