<!-- <h1>Riskycustomers</h1>

<%=@riskycustomers%> -->

<head>
<%= stylesheet_link_tag "dashboard/bootstrap.min.css" %>
<%= stylesheet_link_tag "dashboard/bootstrap.css" %>
<%= stylesheet_link_tag "dashboard/style.css" %>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<%= javascript_include_tag 'application' %>

</head>
<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
            <a class="logo" href="index.html">
                        
             <%= image_tag "optionB.png", class: '' %>                    
             </span> </a>
                </div>
                <!-- /Logo -->
                <!-- Search input and Toggle icon -->
                <ul class="nav navbar-top-links navbar-left">
                    
                    <!-- .Task dropdown -->
                   
                                   </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        
                    </li>
                    <li class="dropdown">
                        <!--<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> 
                        <img src="../plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"> -->
                        <b> <%= link_to 'logout', destroy_user_session_path, :method =>'delete', class: 'dropdown-toggle profile-pic ',style:'padding-right: 40px;' %></b>
                        
                        <span class="caret"></span> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="../plugins/images/users/varun.jpg" alt="user" /></div>
                                    <div class="u-text">
                                        <h4>Steave Jobs</h4>
                                        <p class="text-muted">varun@gmail.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                            <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                            <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
                <div class="user-profile">
                    
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                     <a><span class="hide-menu"> <%=link_to 'Dashboard',users_path, class: "waves-effect"%></span></a>       
                    </li>
                  
                     <li>
        <a href="/users/<%=@user.id%>/email_templates" class="waves-effect"> <span class="hide-menu">Your Templates</span> </a>
<!-- 
                        <ul class="nav nav-second-level">
                            <li><a><span class="hide-menu"> <%=link_to 'Predunning',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a>
                            </li>                   
                           <li><a ><span class="hide-menu"><%=link_to 'Dunning',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a></li>

                           <li><a ><span class="hide-menu"><%=link_to 'cancellations',new_user_email_template_path(@user,@email_template), class: "waves-effect"%></span></a></li>

                        </ul>
 -->
                        </li>
                    <!-- <li>
                    <a href="/riskycustomers" class="waves-effect"><span class="hide-menu">Customers</span></a>
                    </li>    -->
                    <ul class="nav nav-second-level"> 
                  </ul>
                    <li>
                    
                    <!-- <li><a href="/riskycustomers/new" class="waves-effect"><span class="hide-menu">Payment Update</span></a></li> -->
                    
                   <!--  <li><a href="/customer_healths" class="waves-effect"><span class="hide-menu">Customer Health</span></a></li> -->
                  
                    <!-- <li> <a href="/users/<%=@user.id%>/edit" class="waves-effect"> <span class="hide-menu">App Settings </span></a><ul class="nav nav-second-level">
                  </ul> </li> -->
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">
                        	<!-- <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="/users/"></button> -->
					 <%= link_to 'add new template', new_user_email_template_path, class: "btn btn-info btn-rounded"%>                                              
                         </h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        
                        
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Templates</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                    
                </div>
                <!-- row list-->
                 <table class="table table-condensed table-striped" >
	<tr>
		<th style="padding-left: 50px;">
			Email type
		</th>
		<th style="padding-left: 50px;">
			subject
		</th>
		<th style="padding-left: 50px;">
			Body
		</th>
	</tr>
	<% @email_templates.each do |email_template|%>
	<tr >
		<td style="padding-left: 50px; width: 200px;">
			<%= email_template.etype%>
		</td>


		<td style="padding-left: 50px; width: 200px;">
			<%= email_template.subject%>
		</td>

		<td style="padding-left: 50px;">
			<%= email_template.body.truncate_words(9).html_safe%>
		</td>

		<td>
			<%= link_to 'edit',edit_user_email_template_path(id: email_template.id),class: "btn btn-info" %> 

		</td>
		
		<td>
			<%= link_to 'delete' , [email_template.user, email_template], method: :delete, class: "btn btn-danger"%>
		</td>

        <td>
            <% if email_template.active == false%>
                <% @x = ""%>
            <%else%>
                <% @x = "checked"%>
            <%end%>
                
            <input <%=@x%> data-toggle="toggle" data-on="Active" data-off="Draft"  data-onstyle="success" id="<%=email_template.id%>"  type="checkbox" data-offstyle="warning">
  <!--script allows to change whether the email should be automatically sent or not-->           
     <script>

         $(function() {

         $('#<%=email_template.id%>').change(function() {
                var status = $(this).prop('checked')
                document.cookie = "status="+status;
                document.location = "/users/<%=@user.id%>/email_templates/status?emailId=<%=email_template.id%>"
         $('#console-event').html('Toggle: ' + $(this).prop('checked'))
         })

         })
    </script>

        </td>
	</tr> 
	<%end%>


</table>

     
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li><b>With Dark sidebar</b></li>
                                <br/>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme working">12</a></li>
                            </ul>
                            <ul class="m-t-20 all-demos">
                                <li><b>Choose other demos</b></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../plugins/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Nestmetric </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    
</body>



