<!DOCTYPE html>
<html>
  <head>
    <title>Nestmetric</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <%= favicon_link_tag 'favicon1.png' %>
    <%= stylesheet_link_tag "dashboard/sidebar-nav.min.css" %>
   <%= stylesheet_link_tag "dashboard/bootstrap-wysihtml5.css" %>
   <%= stylesheet_link_tag "dashboard/dropzone.css" %>
   <%= stylesheet_link_tag "dashboard/animate.css" %>
   <%= stylesheet_link_tag "dashboard/style.css" %>
   <%= stylesheet_link_tag "dashboard/default.css" %>
   
   <%= stylesheet_link_tag "dashboard/spinners.css" %>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

 

  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
