<!DOCTYPE html>
<html>
  <head>
    <title>Nestmetric</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "dashboard/sidebar-nav.min.css" %>
   <%= stylesheet_link_tag "dashboard/bootstrap-wysihtml5.css" %>
   <%= stylesheet_link_tag "dashboard/dropzone.css" %>
   <%= stylesheet_link_tag "dashboard/animate.css" %>
   <%= stylesheet_link_tag "dashboard/style.css" %>
   <%= stylesheet_link_tag "dashboard/default.css" %>
   <%= stylesheet_link_tag "dashboard/materialdesignicons.min.css" %>
   <%= stylesheet_link_tag "dashboard/spinners.css" %>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
